table,th,td{ 
  border: 1px solid black; 
  border-collapse:collapse;	
  width:900px; padding: 20px; 
  text-align:justify; 
  background-color: #FBB663;	
  }
.ab th{
  text-align:justify; 
  color: #181818; 
  background-color: #AF5213;
  }
.section #header,#main,#content,#fotter,#copyright{ 
  margin:0px auto;
  }
html { 
  height: 100%; 
  width: 100%; 
  }
a, a:visited { 
  color: #993120; 
  }
b {
  text-align: center;
  }
#footer { 
  clear: both; 
  height: 6.5em; 
  background: #4C2516 ;
  color: #F2DC87; 
  }
#footer p { 
  margin: 0; 
  padding: 0.5em 1em;
  color: #F37D0F; 
  }
#header{  
  height: 7.5em; 
  background: #4C2516 ;
  color: #F2DC87; 
  }
#header h1,h2 { 
  margin: 0; 
  padding: 0.5em 1em; 
  text-align: center; 
  color:#F37D0F; 
  }
#content h1,table{ 
  text-align:center;
  }
#content .ban { 
  text-align: center;   
  }
.ban table{
  margin: auto;
  }
.simple_form label{	
  float: left; 
  text-align: right; 
  margin: 2px 10px;
  }
.simple_form input{ 
  float: right; 
  width:400px; 
  }
.field_with_errors { 
  display: inline;  
  }  
.field_with_errors .message { 
  color: #D00; 
  padding-left: 5px; 
  font-size: 12px;
  } 
 
